doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    nav
        if(!user)            
            h2 
                a(href='/') Home 
                | | 
                a(href='/login') Login 
                | | 
                a(href='/register') Register
        else
            h2
                a(href='/logout') Logout 
                | | 
                a(href='/users') Users
    block content